@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
#mainpage{
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(238,244,255,1) 0%, rgba(222,233,255,1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.font-inter{
    font-family: 'Inter', sans-serif;
}
.font-wight-normal{
    font-weight: normal;
}
.font-weight-bold{
    font-weight: bold;
}
.font-size-44{
    font-size: 44px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-24{
    font-size: 24px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-12{
    font-size: 12px;
}
#title{
    padding-top: 75px;
    text-align: center;
}
#subtitlecontainer{
    padding-top: 30px;
    width: 1044px;
    text-align: center;
}
.gruppo-totale-form{
    display: flex;
    flex-direction: row;
}
.elementi-del-form{
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    justify-content: center;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cerca{
    width: 340px;
    height: 52px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #94E1A5;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #FFFFFF;
}

#bottone{
padding-top: 25px;
}

.elementi-del-form input{
    width: 340px;
    height: 52px;
    border-radius: 15px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
}

.gruppo-totale-form label{
    padding-bottom: 10px;
    margin-left: 12px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    padding-top: 32px;
}

.elementi-del-form ::placeholder{
    padding-left: 12px;
    padding-right: 89px;
}
.cardcontainer{
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 0;
    display: inline-block;
}
.container2{
    display: flex;
}
.imgcontainer{
    z-index: 1;
    background-color: #E36736;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.statscotainer{
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 21px;
    padding-right: 60px;
    font-family: 'Inter', sans-serif;
}
.cardstats{
    display: flex;
    font-family: 'Inter', sans-serif;
}
.cardstats > div{
    margin-right: 6px;
    font-family: 'Inter', sans-serif;
}
.cardgen{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}
.cardtypes{
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
}
#cardwrap{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 26px;
    column-gap: 26px;
    padding-bottom: 30px;
    margin-top: 39px;
}
.cardimg{
    max-width: 80px;
    max-height: 80px;
}